header
    +clearfix
    background:
        color: $black


    .logo
        float: left
        margin: 20px
        padding: 10px 10px 10px 10px
        img
            width: 237px
            height: 52px
    nav
        ul
            float: right                 
            li
                margin: 20px
                display: inline-block
                a
                    color: $white
                    text-transform: uppercase
  
